{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/modalist/css/tablesaw.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/modalist/css/style.css') }}">

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/modalist/js/tablesaw.js') }}"></script>
    <script src="{{ asset('bundles/modalist/js/tablesaw-init.js') }}"></script>
    <script>
        var i;
        function alternate(id){

            if(document.getElementsByTagName){

                var table = document.getElementById(id);

                var rows = table.getElementsByTagName("tr");

                for(i = 0; i < rows.length; i++){

                    //manipulate rows

                    if(i % 2 == 0){

                        rows[i].className = "even";

                    }else{

                        rows[i].className = "odd";

                    }

                }

            }

        }

    </script>
{% endblock %}

{% block body %}

    <h1><u>Liste des Commandes a Préparer</u></h1><br>

    <body onload="alternate('thetable')">
    <table class="tablesaw table table-striped" data-tablesaw-sortable data-tablesaw-sortable-switch id='thetable'>
        <thead>
        <tr>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Numero Commande</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Article</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Nom et adresse</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-sortable-numeric data-tablesaw-priority="3">Date de la commande</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Etat de la commande</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Commande prete ?</th>
        </tr>
        </thead>
        <tbody>

        {% for order in orders %}
            <tr>
                <td class="title">{{ order.numOrder }}</td>
                <td>{{ order.productsRef }}</td>
                <td>{{ order.buyerName }}<br>{{ order.shippingAddress }}</td>
                <td class="date">{{ order.orderDate.date |date('Y-m-d H:i') }}</td>
                <td>{{ order.orderState }}</td>
                {% if order.orderState == 'done' %}
                <td><button class="btn btn-default">Terminé</button></td>
                {% else %}
                <td><button class="btn btn-default">Oui</button></td>
                {% endif %}

            </tr>
        {% endfor %}

        </tbody>
    </table>
    <a href="{{ path('wporders_new') }}"><button class="btn btn-default">Nouveau</button></a>

    </body>

{% endblock %}
